name: CI Pipeline for Machine Learning

# Trigger: Jalan setiap kali ada push ke branch main
on:
  push:
    branches:
      - main

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout kode dari repository
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Siapkan Python 3.11 (Versi stabil untuk menghindari error distutils)
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # 3. Install dependencies
    # Pastikan requirements.txt ada di dalam folder MLProject
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r MLProject/requirements.txt

    # 4. Jalankan Training menggunakan MLflow Run (SESUAI KRITERIA 3)
    # Perintah 'mlflow run .' akan mencari file 'MLproject' dan menjalankannya
    # --env-manager=local agar menggunakan library yang sudah diinstall di step 3
    - name: Run Training with MLflow
      run: |
        cd MLProject
        mlflow run . --env-manager=local --experiment-name="CI_Eksperimen_Cluster"
      env:
        MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}