name: CI Pipeline (Training Only)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    # 1. Masukkan Secrets agar script bisa upload ke DagsHub
    # Tanpa ini, modelling.py akan error saat dagshub.init()
    env:
      MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
      MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      MLFLOW_S3_ENDPOINT_URL: ${{ secrets.MLFLOW_S3_ENDPOINT_URL }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

    steps:
    # 2. Ambil kode dari repo
    - name: Checkout code
      uses: actions/checkout@v4

    # 3. Siapkan Python (Lebih cepat daripada Conda)
    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    # 4. Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Install library dari file requirements di dalam folder MLProject
        if [ -f MLProject/requirements.txt ]; then pip install -r MLProject/requirements.txt; fi

    # 5. Jalankan Training Script
    # Script ini otomatis akan menghubungkan ke DagsHub berkat env di atas
    - name: Run Training Script
      run: |
        cd MLProject
        python modelling.py